.repo-info {
  padding: 60px;
  height: 100vh;
  @media (max-width: 425px) {
    height: 100%;
  }
}

// @mixin respond($option) {
//   @if $option == phone {
//     @media (max-width: 37.5em) {
//       @content;
//     } //600px
//   }
//   @if $option == tab-port {
//     @media (max-width: 56.25em) {
//       @content;
//     } //900px
//   }
//   @if $option == tab-land {
//     @media (max-width: 75em) {
//       @content;
//     } //1200px
//   }
//   @if $option == big-desktop {
//     @media (min-width: 112.5em) {
//       @content;
//     } //1800px
//   }
// }
