.homepage {
  background-image: url("../../assets/grid2.png");
  position: relative;
  background-position: center;
  // height: 100vh;
  padding: 0 70px;
  color: #011ff3;

  // background-size: cover;
  // background-repeat: repeat;

  // .background {
  //     position: absolute;
  //     opacity: .6;
  //     left: 0;
  //     right: 0;
  // }
  .header {
    color: #011ff3;
    display: flex;
    flex-direction: column;
    .top-layer {
      display: flex;
      justify-content: space-between;
      margin-bottom: -40px;
      margin-top: 30px;
      // align-items: center;
      span {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        outline: #011ff3 solid 4px;
        margin: 0 10px;
      }
      .shapes {
        margin-bottom: -50px;
        display: flex;
        gap: 10px;
        flex-direction: column;
      }
    }
    &-text {
      position: relative;
      height: 60vh;
      h1,
      h2 {
        font-size: 165px;
        margin: 0;
        letter-spacing: 15px;
        color: #011ff3;
        text-align: left;
        font-weight: 700;
      }
      h2 {
        position: absolute;
        top: 63%;
      }
      .one {
        position: absolute;
        left: 40px;
        z-index: 3;
      }
      .two {
        position: absolute;
        top: 67px;
        h1,
        h2 {
          -webkit-text-stroke: 2px #e48c25;
          color: transparent;
        }
      }
    }
    .layer2 {
      display: flex;
      justify-content: space-between;
      h1,
      h2 {
        margin: 0;
        font-weight: 500;
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0;
    gap: 150px;
    padding: 30px;
    .details {
      text-align: left;
    }
    img {
      // border-radius: 77% 23% 51% 49% / 34% 30% 70% 66% ;
      border-radius: 47% 53% 84% 16% / 66% 51% 49% 34%;
      transform: rotate(5deg);
    }
    a {
      padding: 5px 15px;
      margin: 10px 0;
      border: 1px solid #011ff3;
      text-decoration: none;
    }
  }
}
